<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
          <span class="title dialog-title">Administrar Información de Clientes</span>
          <button mat-button class="mat-icon-button"
                  (click)="dialogRef.close()"
                  aria-label="Close dialog">
              <mat-icon>close</mat-icon>
          </button>
      </mat-toolbar-row>

      <mat-toolbar-row class="toolbar-bottom py-8 py-sm-16" fxLayout="column" fxLayoutAlign="center center">          
          <div class="contact-name">{{cliente.nombre}}</div>
      </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

      <form [formGroup]="clienteForm">

          <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
              <mat-icon class="mr-12 mt-12">account_circle</mat-icon>
              <mat-form-field fxFlex>
                  <input name="nombre" formControlName="nombre" placeholder="Name" matInput required>
              </mat-form-field>
          </div>

          <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <mat-icon class="mr-12 mt-12">email</mat-icon>
            <mat-form-field fxFlex>
                <input name="correo" formControlName="correo" matInput type="email" placeholder="Email">
            </mat-form-field>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
              <mat-icon class="mr-12 mt-12">phone</mat-icon>
              <mat-form-field fxFlex>
                  <input formControlName="telefono" matInput placeholder="Phone number">
              </mat-form-field>
          </div>


          <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
              <mat-icon class="mr-12 mt-12">home</mat-icon>
              <mat-form-field fxFlex>
                  <input name="direccion" formControlName="direccion" matInput placeholder="direccion">
              </mat-form-field>
          </div>

      </form>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

      <button *ngIf="action !=='edit'"
              mat-raised-button
              (click)="dialogRef.close(clienteForm)"
              class="save-button mat-accent"
              [disabled]="clienteForm.invalid"
              aria-label="Guardar">
          Guardar
      </button>

      <button *ngIf="action ==='edit'"
              mat-raised-button
              (click)="dialogRef.close(['save',clienteForm])"
              class="save-button mat-accent"
              [disabled]="clienteForm.invalid"
              aria-label="Actualizar">
          Guardar2
      </button>

      <button *ngIf="action ==='edit'"
              mat-button
              class="mat-icon-button"
              (click)="dialogRef.close(['delete',clienteForm])"
              aria-label="Delete"
              matTooltip="Delete">
          <mat-icon>delete</mat-icon>
      </button>

  </div>
</div>